.HeaderLogin {
    width: 100%;
    height: 90px;
    background-color: #e1eef0;
    margin-bottom: 40px;
  }
  
  @media (min-width: 768px) {
    .HeaderLogin {
      height: 120px;
      margin-bottom: 75px;
    }
  }
  
  .HeaderLogin-title {
    display: none
  }
  
  .HeaderLogin-content {
    margin: 0 auto;
    padding: 20px 10px;
    height: 100%
  }
  
  @media (min-width: 768px) {
    .HeaderLogin-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding: 20px 180px;
      max-width: 1200px

    }
  }
  
  .HeaderLogin-logo {
    margin: 0 auto;
    text-align: center
  }
  
  .HeaderLogin-logo .Header-logoImage {
    height: 50px
  }
  
  @media (min-width: 768px) {
    .HeaderLogin-logo .Header-logoImage {
      width: 136px;
      height: 82px
    }
  }
  .parent{
    display: flex!important;
    flex-wrap: wrap;
    align-content:flex-end;
    
  }
  .child-flex {
    margin: auto;
    flex-grow: 0;
  }
  
  .child-flex-big {
    flex-grow: 1;
  }

  .parent a:nth-child(2) {
      flex: 6;
  }  

  .parent button:last-child {
      margin-left: auto;
   }
    
    
  

/* pcs , portatiles*/
  @media screen and (min-width: 768px) {
  nav.horizontal-menu,
  .has-ngui-menu nav[ngui-menu]
  {
    
    background: -moz-linear-gradient(top, #aae4e7, #00C1D5);
    background: -ms-linear-gradient(top, #aae4e7, #00C1D5);
    background: -o-linear-gradient(top, #aae4e7, #00C1D5);
    background: -webkit-linear-gradient(top, #aae4e7, #00C1D5);
    background: linear-gradient(to bottom, #aae4e7, #00C1D5);
    border-radius: 2px;
    width: 100%;
  }
  nav.horizontal-menu > a {
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    -webkit-transition: color .2s ease;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    transition: color .2s ease;

  }

  
  .icon {
    color : #fff!important;
    text-shadow: 1px 1px 1px #ccc;
  }
  .icon:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  
  }

}
/* smartphone y tablets */
  @media (max-width: 768px) {
  nav.horizontal-menu,
  .has-ngui-menu nav[ngui-menu]
  {
    
    justify-content: space-evenly;
    background: -moz-linear-gradient(top, #aae4e7, #00C1D5);
    background: -ms-linear-gradient(top, #aae4e7, #00C1D5);
    background: -o-linear-gradient(top, #aae4e7, #00C1D5);
    background: -webkit-linear-gradient(top, #aae4e7, #00C1D5);
    background: linear-gradient(to bottom, #aae4e7, #00C1D5);
    border-radius: 2px;
    margin-bottom: 5em;
    width: 100%;
  }
  nav.horizontal-menu > a {

    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    -webkit-transition: color .2s ease;
    color: #ffffff;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    transition: color .2s ease;
  }
 
.icon {
  color : #fff!important;
  text-shadow: 1px 1px 1px #ccc;
}
 .icon:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;

}

}
.neon {
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1;
  font-size: 3rem;
  line-height: 2;
  color: white;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;

 }

 @keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
         0 0 20px  #fff,
         0 0 30px  #fff,
         0 0 40px  #00C1D5,
         0 0 70px  #00C1D5,
         0 0 80px  #00C1D5,
         0 0 100px #00C1D5,
         0 0 150px #00C1D5;
  }
  to {
    text-shadow: 0 0 5px #fff,
         0 0 10px #fff,
         0 0 15px #fff,
         0 0 20px #00C1D5,
         0 0 35px #00C1D5,
         0 0 40px #00C1D5,
         0 0 50px #00C1D5,
         0 0 75px #00C1D5;
  }
  }
  @-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
         0 0 20px  #fff,
         0 0 30px  #fff,
         0 0 40px  #00C1D5,
         0 0 70px  #00C1D5,
         0 0 80px  #00C1D5,
         0 0 100px #00C1D5,
         0 0 150px #00C1D5;
  }
  to {
    text-shadow: 0 0 5px #fff,
         0 0 10px #fff,
         0 0 15px #fff,
         0 0 20px #00C1D5,
         0 0 35px #00C1D5,
         0 0 40px #00C1D5,
         0 0 50px #00C1D5,
         0 0 75px #00C1D5;
  }
  }
  
  @-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
         0 0 20px  #fff,
         0 0 30px  #fff,
         0 0 40px  #00C1D5,
         0 0 70px  #00C1D5,
         0 0 80px  #00C1D5,
         0 0 100px #00C1D5,
         0 0 150px #00C1D5;
  }
  to {
    text-shadow: 0 0 5px #fff,
         0 0 10px #fff,
         0 0 15px #fff,
         0 0 20px #00C1D5,
         0 0 35px #00C1D5,
         0 0 40px #00C1D5,
         0 0 50px #00C1D5,
         0 0 75px #00C1D5;
  }
  }