/* You can add global styles to this file, and also import other style files */
@import "./assets/css/do-css-framework.css";
@import "./assets/css/font-awesome.css";
 
.icon {
    color : #fff!important;
    text-shadow: 1px 1px 1px #ccc;
  }
  body{
    background: rgba(242,244,245,1);
    background: -moz-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(242,244,245,1) 5%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(242,244,245,1) 5%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(242,244,245,1) 5%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(242,244,245,1) 5%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(242,244,245,1) 0%, rgba(242,244,245,1) 5%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f5', endColorstr='#ffffff', GradientType=0 );
  }